page-home {


  .card-background-page {
    // background: -webkit-linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0) 80%), -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
    background: #fefefe;

    h1 {
      color: #488aff;
    }

    .card-md {
      margin: 0;
      width: 100%;
    }

    .card-ios {
      margin: 0;
      width: 100%;
    }

    button {
      color: #488aff;
      border-color: #488aff;
    }

    ion-card {
      position: relative;
      text-align: center;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #5d5d5d;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .explanation {
      text-align: left;
      margin-top: 30px;
    }

  }
}
